body{
  background-color: #fcfefc ;
}
/* .imgLoader{
  text-align: center;
} */
.imgLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Yeh container ko full viewport height set karega */
}

